body {
    display: grid;
    grid-template: 6rem 1fr / 17.5rem 1fr;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    background-color: var(--bg-3);
}

/* DEBUG STYLING */

#debug {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: red;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    z-index: 100;
}
#debug * {
    color: black !important;
    padding: 0.25rem;
}