body {
    display: grid;
    grid-template: 6rem 1fr / 17.5rem 1fr;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-3);
}

@media (max-width: 700px) {
    body {
        grid-template: 6rem auto 1fr / 1fr;
        overflow: auto;
    }
    ul {
        overflow-y: unset !important;
    }
    #sidebar {
        position: fixed;
        left: 0;
        transform: translateX(-100%);
        top: 0;
        z-index: 200;
        height: 100vh;
        width: calc(50vw + 100px);
        transition: 400ms cubic-bezier(0.35, 0, 0.1, 1.0);
    }
    .animations #sidebar.open {
        transform: translateX(0%);
    }
    #topbar .hamburger {
        display: block;
    }
}

ul {
    list-style: none;
    overflow: overlay;
}

.hamburger {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: none;
}

.hamburger svg path {
    fill: var(--text);
    transition: fill 250ms ease-out;
}
.hamburger svg:hover path {
    fill: var(--accent-color);
}

::-webkit-scrollbar {
    width: 0.65em;
    height: 0.65em;
}

::-webkit-scrollbar-track {
    margin-bottom: -5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vmax;
    background-color: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--darker-accent-color);
}

/* DEBUG STYLING */

#debug {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: red;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    z-index: 100;
    display: none;
}
#debug * {
    color: black !important;
    padding: 0.25rem;
}