:root {
    --accent-color: #0099FF;
    --light-100: #fefefe;
    --light-300: #eaf0f5;
    --dark-300: #0e0e0e;
    --dark-100: #202020;
    
    --text: black;
    --bg-1: var(--light-100);
    --bg-3: var(--light-300);
    --outline: 2px solid var(--text);
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    color: var(--text);
}

.animations *, .animations {
    transition: background-color 250ms ease-out, color 250ms ease-out;
}