:root {
    --accent-color: #0099FF;
    --darker-accent-color: hsl(204, 100%, 45%);
    --light-100: #fefefe;
    --light-200: #f0f0f0;
    --light-300: #eaf0f5;
    --dark-300: #0b0b0b;
    --dark-200: #161616;
    --dark-100: #202020;
    --outline: 2px solid var(--text);
    --box-shadow: 3px 3px 6px hsl(0 0% 0% / 0.35);

    --light-secondary: #777;
    --dark-secondary: #a6a6a6;

    --dark-alpha: hsla(0, 0%, 4%, 0.4);
    --light-alpha: hsla(0, 0%, 100%, 0.4);

    --todo-red: rgb(255, 24, 24);
    --todo-green: rgb(13, 197, 13);
    --todo-blue: var(--accent-color);
    --todo-purple: rgb(167, 0, 167);
    --todo-yellow: yellow;
    --todo-orange: hsl(36, 100%, 50%);
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    color: var(--text);
    fill: var(--text);
}

.animations *, .animations {
    transition: background-color 250ms ease-out, color 250ms ease-out, fill 250ms ease-out;
}