.todo-card {
    background-color: var(--bg-1);
    padding: 1.25rem 1.5rem;
    border-radius: 32px;
    box-shadow: 3px 3px 6px hsl(0 0% 0% / 0.35);
    height: 100%;
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.todo-title {
    font-size: 1.1rem;
    margin-bottom: 0.125rem;
}

.todo-description,
.todo-dueDate {
    text-overflow: ellipsis;
    color: #777;
    font-size: 0.9rem;
}

.infoWrapper::after,
.descWrapper::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    top: 8px;
    height: 1px;
    background-color: #d8d8d8;
    transition: width 300ms cubic-bezier(0.1, 0.54, 0.04, 0.98);
}

.infoWrapper {
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}

.descWrapper {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    position: relative;
}

.descWrapper > * {
    position: relative;
}

.descWrapper > *:not(:last-child)::after {
    content: '';
    height: 12px;
    width: 1px;
    background-color: #777;
    position: absolute;
    right: -0.45rem;
    top: 2px;
    font-size: 1em;
    flex: 0 0 auto;
}

.todo-card input:checked ~ .infoWrapper .descWrapper > *:not(:last-child)::after,
.todo-card input:checked ~ .infoWrapper .descWrapper .todo-color {
    background-color: #d8d8d8;
}

.todo-color-wrapper {
    width: 12px;
    height: 16px;
    display: grid;
    place-items: center;
}

.todo-color {
    width: 12px;
    height: 6px;
    border-radius: 100vh;
    background-color: var(--accent-color);
}

.todo-color.yellow {
    background-color: var(--todo-yellow);
}
.todo-color.red {
    background-color: var(--todo-red);
}
.todo-color.green {
    background-color: var(--todo-green);
}
.todo-color.blue {
    background-color: var(--todo-blue);
}
.todo-color.purple {
    background-color: var(--todo-purple);
}
.todo-color.orange {
    background-color: var(--todo-orange);
}

.todo-delete-button {
    border: none;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-out, visibility 0ms 250ms linear;
}

.todo-card input:checked ~ .todo-delete-button {
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms ease-in, visibility 0ms 0ms linear;
}

.todo-card input:checked ~ .infoWrapper::after, 
.todo-card input:checked ~ .infoWrapper .descWrapper::after {
    width: 100%;
}

.todo-card input:checked ~ .infoWrapper *, 
.todo-card input:checked ~ .infoWrapper .descWrapper * {
    color: #d8d8d8;
}
/* .todo-card input:checked ~ .infoWrapper .todo-description, 
.todo-card input:checked ~ .infoWrapper .todo-title {
    text-decoration: line-through;
} */

