.todo-add-popup {
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--bg-1);
    position: relative;
    box-shadow: var(--box-shadow);
}

.todo-add-popup form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todo-add-popup input {
    background-color: var(--bg-3);
    border-radius: 100vh;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    color: var(--text);
    border: none;
    width: 250px;
}

.todo-add-popup input[type="radio"] {
    width: unset;
    box-shadow: none;
    position: relative;
    display: grid;
    place-items: center;
}

.todo-add-popup input[type="radio"].red::before {
    background-color: var(--todo-red);
}
.todo-add-popup input[type="radio"].blue::before {
    background-color: var(--todo-blue);
}
.todo-add-popup input[type="radio"].green::before {
    background-color: var(--todo-green);
}
.todo-add-popup input[type="radio"].purple::before {
    background-color: var(--todo-purple);
}
.todo-add-popup input[type="radio"].orange::before {
    background-color: var(--todo-orange);
}

.todo-add-popup input[type="radio"]::before {
    content: '';
    position: absolute;
    inset: -5px;
    border-radius: 100%;
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow);
}

.todo-add-popup input[type="radio"]:checked::after {
    content: '\2713';
    position: absolute;
    right: 1px;
    font-weight: 900;
    color: white;
    font-size: 1.1em;
}

.todo-add-popup input::placeholder {
    color: #000;
}

.todo-form-bg {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(4px);
    background-color: var(--bg-alpha);
    display: grid;
    place-items: center;
    z-index: 200;
}

.form-label {
    margin-top: 1rem;
}

input::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23000000" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

body.dark input::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23ffffff" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>') !important;
}

#form-title {
    font-size: 1.75rem;
    font-weight: 700;
}

#form-close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 24px;
}

#form-close svg path {
    transition: fill 250ms ease-out;
    fill: var(--text)
}

#form-close:hover svg path {
    fill: var(--accent-color);
}

.color-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.75rem;
}

#form-submit-btn {
    padding: 0.75rem;
    border-radius: 100vh;
    background-color: var(--accent-color);
    color: white;
    font-weight: 700;
    font-size: 1.25em;
    border: none;
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
}

#form-submit-btn:hover {
    background-color: hsl(204, 100%, 45%);
}