.todo-card {
    background-color: var(--bg-1);
    padding: 1.25rem 1.5rem;
    border-radius: 32px;
    box-shadow: var(--box-shadow);
    height: 100%;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    flex: 0 0 0;
}

.todo-title {
    font-size: 1.1rem;
    white-space: nowrap;
}

.todo-description {
    overflow: hidden;
}

.todo-description,
.todo-dueDate,
.desc-separator {
    text-overflow: ellipsis;
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.desc-separator {
    transform: translateY(-1px);
}

.todo-dueDate {
    flex-shrink: 0;
}

.infoWrapper {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}

.detailsWrapper {
    display: flex;
    gap: 0.25rem;
    margin-top: 0.25rem;
    position: relative;
    align-items: flex-start;
    white-space: nowrap;
}

.todo-card:focus .detailsWrapper {
    white-space: pre-wrap;
}

.descWrapper {
    /* flex: 0 1 auto !important; */
    overflow: hidden; 
}

.infoWrapper::after,
.detailsWrapper::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    top: 8px;
    height: 1px;
    background-color: #d8d8d8;
    transition: width 500ms cubic-bezier(0.1, 0.54, 0.04, 0.98);
}

.detailsWrapper > * {
    position: relative;
}

.todo-card.done input ~ .infoWrapper .detailsWrapper > *:not(:last-child)::after,
.todo-card.done input ~ .infoWrapper .detailsWrapper .todo-color {
    background-color: #d8d8d8;
}

.todo-color-wrapper {
    width: 12px;
    height: 16px;
    display: grid;
    place-items: center;
}

.todo-color {
    width: 12px;
    height: 6px;
    border-radius: 100vh;
    background-color: var(--accent-color);
}

.todo-color.yellow {
    background-color: var(--todo-yellow);
}
.todo-color.red {
    background-color: var(--todo-red);
}
.todo-color.green {
    background-color: var(--todo-green);
}
.todo-color.blue {
    background-color: var(--todo-blue);
}
.todo-color.purple {
    background-color: var(--todo-purple);
}
.todo-color.orange {
    background-color: var(--todo-orange);
}

.todo-button {
    border: none;
    background-color: transparent;
    opacity: 0;
    aspect-ratio: 1 / 1 ;
    height: 24px;
    visibility: hidden;
    transition: opacity 400ms ease-out, visibility 0ms 500ms linear;
}

.todo-button:focus svg path,
.todo-button:hover svg path {
    fill: var(--accent-color);
}

.todo-card.done input ~ .todo-button,
.todo-card:focus-within .todo-button,
.todo-card:hover .todo-button {
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms ease-out, visibility 0ms 0ms linear;
}

.todo-card.done input ~ .infoWrapper::after, 
.todo-card.done input ~ .infoWrapper .detailsWrapper::after {
    width: 100%;
}

.todo-card.done input ~ .infoWrapper *, 
.todo-card.done input ~ .infoWrapper .detailsWrapper * {
    color: #d8d8d8;
}

.todo-card input {
    margin-top: 0.85rem;
    align-self: flex-start;
    position: relative;
    visibility: hidden;
    margin-right: 0.25rem;
}

.todo-card input::before {
    content: '';
    visibility: visible;
    border: 1px solid var(--text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.todo-card input:checked::before {
    color: white;
    font-size: 0.7rem;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.todo-card input:checked:hover::before {
    background-color: var(--darker-accent-color);
    border: 1px solid var(--darker-accent-color);
}

.todo-card input:checked::after {
    content: '\2713';
    font-weight: 900;
    position: absolute;
    inset: 0;
    transform: translateY(-17%) translateX(18%);
    color: white;
    visibility: visible;
}

/* firefox detection */
@-moz-document url-prefix() {
    .todo-card input {
        visibility: visible;
    }
}

.handle {
    align-self: flex-start;
    height: 100%;
    display: flex;
    align-items: center;
    width: min-content;
    gap: 0;
    margin-inline: -0.3rem;
    height: 41px;
}

@media (pointer:coarse) {
    .todo-button {
        opacity: 1;
        visibility: visible;
    }
}

