.todo-card {
    background-color: var(--bg-1);
    padding: 1.25rem 1.5rem;
    border-radius: 32px;
    box-shadow: var(--box-shadow);
    height: 100%;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    flex: 0 0 0;
    /* max-width: 500px; */
}

.todo-title {
    font-size: 1.1rem;
    margin-bottom: 0.125rem;
    width: fit-content;
}

.todo-description {
    overflow: hidden;
}

.todo-description,
.todo-dueDate,
.desc-separator {
    text-overflow: ellipsis;
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.desc-separator {
    transform: translateY(-1px);
}

.todo-dueDate {
    flex-shrink: 0;
}

.infoWrapper {
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}

.detailsWrapper {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    position: relative;
}

.descWrapper {
    flex: 0 1 auto !important;
    overflow: hidden; 
}

.infoWrapper::after,
.detailsWrapper::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    top: 8px;
    height: 1px;
    background-color: #d8d8d8;
    transition: width 300ms cubic-bezier(0.1, 0.54, 0.04, 0.98);
}

.detailsWrapper > * {
    position: relative;
}

.todo-card input:checked ~ .infoWrapper .detailsWrapper > *:not(:last-child)::after,
.todo-card input:checked ~ .infoWrapper .detailsWrapper .todo-color {
    background-color: #d8d8d8;
}

.todo-color-wrapper {
    width: 12px;
    height: 16px;
    display: grid;
    place-items: center;
}

.todo-color {
    width: 12px;
    height: 6px;
    border-radius: 100vh;
    background-color: var(--accent-color);
}

.todo-color.yellow {
    background-color: var(--todo-yellow);
}
.todo-color.red {
    background-color: var(--todo-red);
}
.todo-color.green {
    background-color: var(--todo-green);
}
.todo-color.blue {
    background-color: var(--todo-blue);
}
.todo-color.purple {
    background-color: var(--todo-purple);
}
.todo-color.orange {
    background-color: var(--todo-orange);
}

.todo-delete-button {
    border: none;
    background-color: transparent;
    opacity: 0;
    aspect-ratio: 1 / 1 ;
    height: 24px;
    visibility: hidden;
    transition: opacity 250ms ease-out, visibility 0ms 250ms linear;
}

.todo-card input:checked ~ .todo-delete-button {
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms ease-in, visibility 0ms 0ms linear;
}

.todo-card input:checked ~ .infoWrapper::after, 
.todo-card input:checked ~ .infoWrapper .detailsWrapper::after {
    width: 100%;
}

.todo-card input:checked ~ .infoWrapper *, 
.todo-card input:checked ~ .infoWrapper .detailsWrapper * {
    color: #d8d8d8;
}

