.todo-add-popup {
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--bg-1);
    position: relative;
    box-shadow: var(--box-shadow);
}

.todo-add-popup form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todo-add-popup input {
    background-color: var(--bg-3);
    border-radius: 100vh;
    padding: 0.75rem 1rem;
    box-shadow: var(--box-shadow);
    color: var(--text);
    border: none;
}

.todo-add-popup input::placeholder {
    color: #000;
}

.todo-form-bg {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(4px);
    background-color: var(--bg-alpha);
    display: grid;
    place-items: center;
}

.form-label {
    margin-top: 1rem;
}

/* ::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23000000" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
} */

#form-title {
    font-size: 1.5rem;
    font-weight: 700;
}

#form-close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 24px;
}

#form-close svg {
    transition: fill 250ms ease-out;
    fill: var(--text)
}

#form-close:hover svg {
    fill: var(--accent-color);
}