.todo-card {
    background-color: var(--bg-1);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 6px hsl(0 0% 0% / 0.35);
    height: fit-content;
}

.todo-description {
    display: none;
}

.todo-dueDate {
    color: #777;
}