#topbar {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem 2rem;
}

#topbar #search-wrapper {
    background-color: var(--bg-1);
    border-radius: 100vh;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0rem 0.75rem;
    gap: 0.5rem;
    box-shadow: 3px 3px 6px hsl(0 0% 0% / 0.35);
}

#topbar #search-wrapper input::placeholder {
    color: #bebebe;
}

#topbar #search-wrapper:focus-within {
    outline: var(--outline);
}

#topbar #search-wrapper input {
    flex-grow: 1;
    padding: 0.75rem 0rem;
    background-color: transparent;
    border: none;
    height: 100%;
    outline: none;
    font-size: 1em;
}

#topbar #search-wrapper label {
    display: grid;
    place-items: center;
    color: var(--accent-color);
}

#topbar #theme-switch {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}


