#topbar {
    border: 1px solid blue;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

#topbar #search-wrapper {
    background-color: var(--bg-1);
    border-radius: 100vh;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0rem 0.75rem;
    gap: 0.5rem;
    box-shadow: 3px 3px 6px hsl(0 0% 0% / 0.35);
}

#topbar #search-wrapper input::placeholder {
    color: #cfcfcf;
}

#topbar #search-wrapper:focus-within {
    outline: auto;
}

#topbar #search-wrapper input {
    flex-grow: 1;
    padding: 0.75rem 0rem;
    background-color: transparent;
    border: none;
    height: 100%;
    outline: none;
    font-size: 1em;
}

#topbar #search-wrapper label {
    display: grid;
    place-items: center;
    color: var(--accent-color);
}

#topbar #theme-switch {
    display: none;
}

#topbar #theme-switch ~ label.light {
    display: none;
}
#topbar #theme-switch:checked ~ label.light {
    display: block;
}
#topbar #theme-switch ~ label.dark {
    display: block;
}
#topbar #theme-switch:checked ~ label.dark {
    display: none;
}

#topbar #theme-switch:checked ~ label.dark:focus-within {
    outline: auto;
}

#topbar #theme-switch ~ label.light:focus-within {
    outline: auto;
}