#workspace {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    overflow-x: hidden;
}

#workspace-add-btn {
    padding: 1rem;
    border-radius: 100%;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    box-shadow: var(--box-shadow);
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: var(--bg-1);
    border: none;
    z-index: 100;
}

#workspace-add-btn:hover svg path,
#workspace-add-btn:focus svg path {
    fill: var(--accent-color);
}
