#workspace {
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    position: relative;
    gap: 2rem;
}

#workspace-add-btn {
    padding: 1rem;
    border-radius: 100%;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    box-shadow: 3px 3px 6px hsl(0 0% 0% / 0.35);
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: var(--bg-1);
    border: none;
}
